# OSX
#
.DS_Store

# Xcode
#
build/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

project.xcworkspace
.xcode.env.local


# Bundle artifacts
*.jsbundle

# CocoaPods
/Pods/
pawith/

#build files
# ios/pawith/ModuleCache.noindex/modules.timestamp
# ios/pawith/ModuleCache.noindex/os-1P3K9UO0H8VTD.swiftmodule
# ios/pawith/ModuleCache.noindex/simd-2YSEJU74EQ59E.swiftmodule
# ios/pawith/SDKStatCaches.noindex/iphonesimulator17.0-21A326-9f995cea1212cde75317d7d3cd2045e2.sdkstatcache
